*/ .App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(206 200 190);
  text-align: center;
}

.appHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.appHeader h1 {
  color: rgb(202 100 44);
  font-size: 3.5rem;
}

.homeMenuBtnsCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 30px;
  background-color: rgb(185 149 87);
}
/*  */
.homeMenuBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 350px;
  width: 550px;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.homeMenuBtnOverlay {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: black;
  opacity: 0.75;
  border-radius: 25px;
}

.homeMenuBtn:hover .homeMenuBtnOverlay {
  opacity: 0.35;
}

.deliveryServicesCont {
  background-color: #9db594;
  display: flex;
  justify-content: space-evenly;
}

.deliveryServicesLink {
  height: 230px;
  width: 300px;
  margin: 50px auto;
  cursor: pointer;
}

.locationDetailsCont {
  background-color: #7d4800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 65px;
}

.locationMapCont {
  height: 350px;
  width: 400px;
}

.locationMapCont a {
  border: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.locationMapCont iframe {
  border: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.locationDetailsInfo {
  flex: 1;
  padding: 50px;
}

.locationDetailsAddress {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 50px;
  text-align: center;
}

.locationDetailsAddress h3 {
  width: 75%;
  color: #c2a572;
}

.locationDetailsContact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.locationDetailsContact a {
  display: flex;
  justify-content: center;
}

.locationDetailsContact a img {
  height: 150px;
}

.homeMenuBtn:hover,
.card:hover,
.locationMapCont iframe:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {
  .homeMenuBtn {
    width: 350px;
  }

  .locationDetailsCont {
    flex-direction: column;
  }

  .locationMapCont {
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
  }

  .locationDetailsContact {
    flex-direction: column;
  }

  .locationDetailsAddress h3 {
    width: 95%;
    font-size: 1.5rem;
  }
}
