.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 45px; */
  /* padding: 30px; */
  background-color: rgb(206 200 190);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.homeMenuBtnsCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 30px;
  background-color: rgb(206 200 190);
  border-radius: 25px;
}

.homeMenuBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 350px;
  width: 550px;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  /* // boxShadow: " 2px 4px 10px 5px rgb(9 34 11)"; */
  text-align: center;
  position: relative;
}

.homeMenuBtnOverlay {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: black;
  opacity: 0.75;
}

.homeMenuBtn:hover .homeMenuBtnOverlay {
  opacity: 0.15;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
