.carousel {
  position: relative;
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6d8e83;
}

.cards-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
  width: 75%;
  z-index: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 20px;
  background-color: black;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}

.card.selected {
  transform: scale(1.1);
  z-index: 2;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
}

.card:hover .card-overlay {
  opacity: 0.35;
}

.card h1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-content {
  position: relative;
  width: 70%;
  height: 70%;
  background-color: #849e64;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightbox-content img {
  height: 100%;
  width: 100%;
  z-index: 100;
}

.back-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  background-color: #f78c08;
  color: #3b280d;
  font-weight: bold;
  border: none;
  border-bottom-left-radius: 25px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  z-index: 100;
}
